* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: /*#f5f5f5*/ transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 24px;
    color: #211104;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

.nav-bar a {
    font-size: 16px;
    color: #211104;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.nav-bar a:hover {
    color: #0a262b;
}

.button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 4px 16px;
    background-color: #6e4e35;
    border: 2px solid #211104;
    border-top-left-radius: 32%;
    border-top-right-radius: 32%;
    border-bottom-left-radius: 32%;
    border-bottom-right-radius: 32%;
    color: #f5f5f5;
    letter-spacing: 1px;
}

.hero {
    margin-top: 95px;
    height: 816px;
    background: url(/Gallery/pexels-pavel-danilyuk-7055160.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    max-width: 1800px;
}

.hero::before {
    display: block;
    content: '';
    height: 3px;
    width: 1800px;
    background-color: #6e4e35;
    margin: 0;
}

.hero::after {
    display: block;
    content: '';
    height: 3px;
    width: 1800px;
    background-color: #6e4e35;
    margin: 0;
}

.hero h1 {
    font-family: 'Arboreto', sans-serif;
    font-size: 182.25px;
    color: #f5f5f5;
    text-shadow:
    -1px -1px 2px #AD947F,
    1px -1px 2px #AD947F,
    -1px 1px 2px #AD947F,
    1px 1px 2px #AD947F;
}

.hero h2 {
    font-family: 'Arboreto', sans-serif;
    font-size: 121.5px;
    color: #f5f5f5;
    text-shadow:
    -1px -1px 2px #AD947F,
    1px -1px 2px #AD947F,
    -1px 1px 2px #AD947F,
    1px 1px 2px #AD947F;
}

